<!DOCTYPE html>
<html lang="en">

  {%load static%}
  {% include "header.html" %}
  <title>Report Card</title>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
 

  <img src="{%static 'images/ReportCards/ReportCard111.jpg'%}" alt="Image" class="img-fluid" style="width:400px; margin-top:100px; margin-left: 35%;">
  

  
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78"/></svg></div>

</body>

</html>